<div style="padding: 5px">
        <div style="background-color: #008cff; padding:10px; color: white;" class="my-1">
            <p> 
            Commenter:<strong>  <%= comment.commenter%></strong> <br>
            Comment: <strong> <%= comment.body %></strong> 
            </p>
        </div>
    </div>