<div style="padding: 5px">
<% @article.comments.each do |comment| %>
    <style>
        .commentContainer{
            background-color: #008cff; 
            padding:10px; 
            color: white;
            margin-top: 3px;
        }
    </style>
        <div class='commentContainer'>
            <p> 
                <p>username: <b><%= comment.commenter  %></b></p>
                <p><%= comment.body  %></p>
            </p>
        </div>
        <% end %>
    </div>