<style>
    a{
        text-decoration:none;
        color: white;
    }
</style>
<div class="container">
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>
    
    <div class="container my-3" >
    <% if user_signed_in? %>
        <button class="btn btn-primary ">
            <%= link_to "Edit", edit_user_article_path(current_user.id, @article.id) %>
        </button>
       
        <button class="btn btn-danger">
            <%= link_to "Delete", user_article_path(@article.id), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            }%>
        </button>
    <% end %>
    </div>

</div>