<h2>Articles</h2>

<%= render "articles/articles", locals: {articles: @articles} %>
  <% if user_signed_in? %>
    <div>
        <button class="btn btn-primary my-2">
            <%= link_to "Create New Article", new_user_article_path(current_user.id), style:"text-decoration:none; color:white" %>
        </button>
    </div>
    <% end %>